@model PayrollWebApp.Models.EmployeeEntity

@{
    Layout = "_LayoutForUser";
    ViewData["Title"] = "UserProfile";
    ViewData["ID"] = @Model.EmployeeId;
}


<div class="d-flex justify-content-center">
    <div class="card shadow mt-4 border-0 mx-5 col-8">
        <div class="card-header bg-primary bg-gradient ml-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">User Profile</h2>
                </div>
            </div>
        </div>
        <div class="card-body px-5 pb-4 pt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Name)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Name)</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Gender)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Gender)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Email)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Email)</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Password)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Password)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Phone)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Phone)</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.DOB)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.DOB)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Address)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Address)</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.DOJ)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.DOJ)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Designations.DesignationType)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Designations.DesignationType)</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0"><strong>@Html.DisplayNameFor(model => model.Designations.BaseSalary)</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">@Html.DisplayFor(model => model.Designations.BaseSalary)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-controller="User" asp-route-id="@Model?.EmployeeId">Edit</a> |
                            <a class="btn btn-primary" asp-action="Index" asp-controller="User" asp-route-id="@Model?.EmployeeId">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}