@model PayrollWebApp.Models.PayrollEntity

@{
    Layout = "_LayoutForUser";
    ViewData["Title"] = "UserProfile";
    ViewData["ID"] = @Model.EmployeeId;
}

<h1>UserProfile</h1>

<div>
    <h4>EmployeeEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.DOJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.DOJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designations.DesignationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designations.DesignationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designations.BaseSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designations.BaseSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="User" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index" asp-controller="User" asp-route-id="@Model?.EmployeeId">Back</a>
</div>
